.fix-menu {
    display: none;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    .fix-menu__item {
        display: flex;
        align-items: stretch;
        a {
            padding: 0 1em;
            align-items: stretch;
        }
    }
    .header {
        margin: 1em 0;
        display: flex;
        justify-content: space-between;
        align-self: flex-start;
        .logo {
            font-size: 25px;
            cursor: pointer;
            padding-right: 2em;
        }
    }
}

.fix-menu__active {
    display: block;
}

.fix-menu-item {
    display: flex;
    justify-content: space-between;
}

.head-block {
    height: 100vh;
    background: linear-gradient(to top, #FFFEC6, #CCFFF1);
    display: flex;
    justify-content: center;
    text-align: center;
}

.head-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__header {
        height: 35vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__img {
        display: flex;
        flex-wrap: nowrap;
    }
    &__footer {
        position: relative;
    }
}

.header {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    .logo {
        font-size: 25px;
        cursor: pointer;
    }
    i {
        margin: 0 0.3em 0 2em;
    }
}

.wrapper__img {
    flex: 2;
    position: relative;
    overflow: hidden;
    .block_img {
        width: 75%;
        height: 100%;
    }
    .block_img-1 {
        position: absolute;
        left: 5%;
    }
    .block_img-2 {
        position: absolute;
        left: 15%;
        top: 15%;
    }
    .gradient {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30%;
        background: linear-gradient(to top, #FFFEC6, transparent);
    }
}

.wrapper__text {
    flex: 1;
    padding-top: 4em;
}

.scroll-down__wrapper {
    position: relative;
    bottom: 0;
    z-index: 99;
    font-size: 25px;
    font-style: italic;
    text-transform: capitalize;
    animation: scroll 1s linear alternate infinite;
    cursor: pointer
}

.scroll-down__wrapper:hover {
    opacity: 0.5;
}

@keyframes scroll {
    100% {
        bottom: 1em;
    }
}

@import 'hamburg-menu';