@import url('https://fonts.googleapis.com/css?family=Noto+Sans+HK&display=swap');
// font-family: 'Noto Sans HK', sans-serif;
$red: aqua;
h1 {
    background-color: $red;
    font-family: 'Noto Sans HK', sans-serif;
    color: white;
}